
# BEGIN WordPress
# "BEGIN WordPress" ve "END WordPress" arasındaki yönergeler (satırlar)
# dinamik olarak oluşturulmuştur ve sadece WordPress süzgeçleri ile düzenlenmelidir.
# Bu işaretler arasındaki yönergelerde yapılan değişiklikler üzerine yazılacaktır.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /nailart/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /nailart/index.php [L]
</IfModule>

# END WordPress
# BEGIN Simply Static
# The directives (lines) between "BEGIN Simply Static" and "END Simply Static" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.
<Files "C:\xampp\htdocs\nailart/wp-content/uploads\simply-static\68134d9ec3824d228425941a9d1fa383-debug.txt">
require all denied
require host localhost
</Files>
# END Simply Static